/*--------------------------------------------+
 | Site: Searchable Map	Template			  |
 | Part: Master styles                        |
 +--------------------------------------------*/

/* Imports
=====================================================================*/
@import "/styles/reset.css"; /* Reset styles */
@import "/styles/ie.css"; /* IE styles */


/* Fonts
======================================================================*/
body, input, select, textarea { font-family: Calibri, Arial, sans-serif; }


/* Basics
======================================================================*/
a { color: #366cb3; text-decoration: none; }
a:hover { text-decoration: underline; }
address { font-style: normal; }
blockquote, dl, ol, p, table, ul { margin-bottom: 1em; font-size: 15px; }
body { height: 100%; color: #58595b; font-size: 16px; line-height: 1.35; padding: 0; margin: 0;}
cite, em { font-style: italic; }
dt { margin-top: 1.35em; }
dt:first-child { margin: 0; }
fieldset { border: 1px solid #ddd; margin-bottom: 2em; padding: 1em 1.5em; }
h1 { color: #4b58a6; font-size: 26px; font-weight: normal; line-height: 1.08; margin-bottom: 0.1em; margin-top: 0.3em; width: 65.5%; }
h1 span, h2 span, h3 span, h4 span { font-size: 15px; font-weight: normal; margin-left: 0.5em; }
h2 { color: #4b58a6; font-size: 18px; line-height: 1.3; margin-bottom: 7px; }
h2, h3, h4, h5, h6, strong { font-weight: bold; }
h3 { color: #4b58a6; margin-top: 0.25em; }
h4 { margin: 0.25em 0 0 0; padding: 0; }
hr { background: #ddd; border: 0; clear: both; color: #ddd; height: 5px; margin: .75em 0; }
html { height: 100%; }
img {padding-right: 15px; border: none; }
legend { background: #fff; color: #352f8e; font-size: 1.7em; margin: 0 0 0 -0.5em; padding: 0.1em 0.75em 0.1em; }
legend em { color: #777; font-size: 0.7em; font-style: normal; font-weight: normal; margin-left: 0.3em; }
ol { list-style: decimal; margin-left: 1.5em; }
ol ol { list-style: lower-alpha; }
select { padding: 0.1em 0.2em; }
sub { font-size: 10px; vertical-align: sub; }
sup { font-size: 10px; vertical-align: super; }
table { border-collapse: collapse; }
table p { margin: 0; }
td { vertical-align: top; }
thead th { font-size: 1em; padding: 0 0.4em 0.25em; }
ul { list-style: disc; margin-left: 0; }
ul ol li { background: none; padding: 0; }

/* Stock classes */
.l { float: left; }
.r { float: right; }
.num { text-align: right; }
ul.flat, ul.headlines { list-style: none; margin-left: 0; }
ul.flat li, ul.headlines li { background: none; margin: 0; padding: 0; }
ul.headlines li { margin-bottom: 10px; }


/* Core layout
======================================================================*/
.clear { clear: both; }
#frame { width: 100%; height: 100%; }
#page { clear: both; margin: auto; padding: 10px 20px 0 20px; height: 90%; }

/* Columns */
.c2l, .c2r { width: 48%; }
.c2l, .c3l, .c3m { float: left; }
.c2r, .c3r { float: right; }
.c3l { margin-right: 3%; }
.c3l, .c3m, .c3r { width: 31%; }
ul.c2l, ul.c2r { list-style: none; margin-left: 0; }
.col4 .col { float: left; margin-right: 1%; width: 24%; }

/* Content */
#content {
  height: 100%;
  background: #fff;
  border: 1px solid #dddddf;
  border-bottom: 1px solid #90b1dc;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  padding: 25px;
}

.content-primary { float: right; padding-left: 10px; width: 70%; height: 95%; }
.content-secondary { float: left; width: 28%; }
.content-home { margin: auto; padding: 50px 0; width: 710px; }
.content-home h1 { width: 100%; }
.home-left { float: left; width: 180px; padding: 0 5px; }
.home-right { float: right; width: 500px; }
.content-simple { margin: auto; width: 700px; } 
.content-simple  p { margin-top: .25em; }

	/* Full layout (no secondary content) */
	.full .content { background-image: none; }
	.full .content-primary { float: none; margin: 0 auto; padding-top: 1em; width: 100%; }
	.full .content-secondary { display: none; }
	
#map_canvas { height: 100%; width:100%; }
#map_canvas img { float: right; padding-bottom: 8px; }
#map_canvas h5 { clear: both; }

/* Muted text */
.mute { color: #77787b; font-size: 12px; }
p.mute { margin: 0; }

/* Text boxes */
  .ezpz-hint { color: #777; font-style: italic; }

/* footer text */
.footer { color: #77787b; font-size: 12px; }
p.footer { margin-bottom: 0.4em; }

/* search */
input, select, textarea { color: #414042; font-size: 1em; }
textarea { height: 10em; }
#search { font-size: 16px; }
#search .txt { width: 100%; }
.input-addr { width: 70%; float: left; } 
.input-addr .txt { width: 100%; }
.input-radius { width: 28%; float: right; }

/* Options */
.options-h, .options-v { list-style: none; margin: 0 0 1em 0; padding: 0; }
td .options-h, td .options-v { margin: 0; }
.options-h input, .options-v input { margin-bottom: -0.05em; }
.options-h img { border-bottom: 3px solid #fff; padding: 5px; vertical-align: middle; }
.options-h li, .options-v li { background: none; clear: both; margin-bottom: 0.3em; padding: 0; }
.options-h li { display: inline; margin-right: 0.7em; white-space: nowrap; }
.options-v li { padding-left: 25px; text-indent: -25px; }
.options-v li p { margin: 0; text-indent: 0; }
.options-days li { margin-right: 0.1em; }

#amount-range, #year-range { margin: 0.5em 4em 0.5em 0.5em; width: 95%; }

#layer-button-projects { color: #FF6666; font-weight: bold; }
#layer-button-wards { color: #80B16A; font-weight: bold; }
#layer-button-districts { color: #3D85C6; font-weight: bold; }

.tagline { font-size: 15px; }

.btn {
  background: #4A7ABA;
  background-image: -moz-linear-gradient(top, #4A7ABA, #274976); /* FF */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4A7ABA),color-stop(1, #274976)); /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4A7ABA', EndColorStr='#274976'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4A7ABA', EndColorStr='#274976')"; /* IE8 */
  border: 1px solid #274976;
  color: #ffffff;
  font-weight: bold;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 0.3em 1.1em;
  margin-right: 0.5em;
  text-shadow: 1px 1px 1px #58595B;
}

.ui-slider-horizontal { height: 0.4em;}
.ui-slider .ui-slider-handle { height: 0.9em; width: 0.9em; }
.yellow { color: #cccc33; }

#label-yellow { color: #cccc33; }
#label-green { color: #60c660; }
#label-blue { color: #7575db; }
#label-purple { color: #cc66cc; }
#label-red { color: #d73e3e; }

#resultCount { float: right; font-weight: bold; font-size: 15px; margin-top: 8px; }